<z-header></z-header>
<div class="goods-order-page-view">
    <div class="ee-banner">
        <div class="ee-wrapper">
            <div class="row ee-title">
                <div class="col-xs-6">
                    <span ng-show="isShowBack" class="ee-banner-back" ng-click="goBack()">< </span>
                    <span class="ee-banner-content">超市订单管理</span>
                </div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <div class="row">
            <div class="filter-item col-xs-4">
                <input class="input-text" ng-model="filter.card_number" placeholder="请输入卡号"/>
            </div>
            <div class="filter-item col-xs-4">
                <input class="input-text"  ng-model="filter.card_id_number" placeholder="请输入证件号"/>
            </div>

            <div class="filter-item discount col-xs-4">
                <z-dropdown z-dropdown-model="filter.order_type"
                            z-dropdown-options="orderTypes"
                            z-dropdown-label="所有折扣"
                >
                </z-dropdown>
            </div>
        </div>
        <div class="row selects">
            <div class="filter-item time  col-xs-4">
                <input type="text" date-range-picker class="e-date-picker info-input date-picker dropdown"
                       ng-model="pageShow.createTimeRange"
                       min="pageShow.createTimeMinTime"
                       options="pageShow.dateOptions"

                       placeholder="点击选择时间"
                />
            </div>
            <div class="filter-item search-item col-xs-4">
                <div class="search" ng-click="search()">筛选</div>
            </div>
        </div>
    </div>
    <div class="statistics-panel">

        <div class="row" ng-show="pageShow.createTimeRange.startDate">
            <div class="statistic center">
                <time>{{(pageShow.createTimeRange.startDate).format('YY年MM月DD日HH时MM分')}}~{{(pageShow.createTimeRange.endDate).format('YY年MM月DD日HH时MM分')}}</time>
            </div>
        </div>
        <div class="row">
            <div class="statistic"><label>订单总数：</label><strong>{{pagination.totalCount}}</strong> 条</div>
            <div class="statistic"><label>订单应收总销售额：</label><strong >{{statistic.totalAmount | number : 2}}</strong> 元</div>
            <div class="statistic"><label>订单实际总销售额：</label><strong style="color: #666;">{{statistic.totalActualAmount | number : 2}}</strong> 元</div>
            <div class="statistic"><label>差额：</label><strong style="color: #666;">{{(statistic.totalAmount - statistic.totalActualAmount) | number : 2}}</strong> 元</div>
        </div>
    </div>

    <div class="ee-table-list">
        <div class="content">
            <div class="row list-header">
                <div class="col-xs-1">
                    <span>订单号</span>
                </div>
                <div class="col-xs-2">
                    <span>订单号</span>
                </div>
                <div class="col-xs-1">
                    <span>收银员</span>
                </div>
                <div class="col-xs-2">
                    <span>身份证号</span>
                </div>

                <div class="col-xs-1">
                    <span>卡号</span>
                </div>

                <div class="col-xs-1">
                    <span>卡类型</span>
                </div>
                <div class="col-xs-1">
                    <span>实际金额</span>
                </div>
                <div class="col-xs-1">
                    <span>扣卡金额</span>
                </div>
                <div class="col-xs-2">
                    <span>支付时间</span>
                </div>
            </div>
            <div class="row list-info" ng-repeat="order in supermarket_orders">
                <div class="col-xs-1">
                    <span>{{$index + 1}}</span>
                </div>
                <div class="col-xs-2" title="{{order.order_number}}">
                    <span>{{order.order_number}}</span>
                </div>
                <div class="col-xs-1" title="{{order.client_info.nickname}}">
                    <span>{{order.client_info.nickname}}</span>
                </div>
                <div class="col-xs-2">
                    <span class="type">{{order.card_id_number}}</span>
                </div>
                <div class="col-xs-1">
                    <span class="type">{{order.card_number}}</span>
                </div>
                <div class="col-xs-1">
                    <span class="type">{{order.card.type === 'staff' ? '员工' : order.card.type === 'normal' ? '普通' :'专家'}}</span>
                </div>
                <div class="col-xs-1">
                    <span class="type">{{order.amount / 100}}</span>
                </div>
                <div class="col-xs-1">
                     <span class="type">{{order.actual_amount / 100}}</span>
                </div>
                <div class="col-xs-2">
                     <span class="type">{{order.pay_time | date: 'yy-MM-dd HH:mm'}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="e-load-more" ng-show="pagination.totalCount > pagination.limit">
        <div class="load-area">
            <span class="click-button" ng-show="pagination.totalCount > pagination.skipCount" ng-click="loadMore()">点击加载更多</span>
            <span class="load-result" ng-show="pagination.totalCount <= pagination.skipCount">已全部加载</span>
        </div>
    </div>
</div>
<div class="ee-footer">
    <span>技术支持：茼蒿科技</span>
</div>