<z-header></z-header>
<div class="ee-user-manager">
    <div class="ee-banner">
        <div class="ee-wrapper">
            <div class="row ee-title">
                <div class="col-xs-6">
                    <span class="ee-banner-back" ng-click="goBack()">< </span>
                    <span class="ee-banner-content">用户管理</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ee-user-manager-body">
        <div class="ee-wrapper">
            <div class="ee-tag-panel">
                <ul class="ee-tag-header">
                    <li class="current">平台用户</li>
                    <li>客户端用户</li>
                    <li class="last">饭卡</li>
                </ul>
                <div class="ee-tag-body">

                </div>
            </div>
        </div>
    </div>
</div>
