<z-header></z-header>
<div class="ee-admin-index">
    <div class="option-entry-warp">
        <div class="entry-box">
            <div class="entry-view">
                <div class="offline">
                    <div class="entry-icon"><img src="images/global/default_user.png" ng-click="goto(1)"></div>
                    <div class="entry-name" ng-click="goToView('restaurant')"><span>餐厅</span></div>
                </div>
            </div>
            <div class="entry-view">
                <div class="online">
                    <div class="entry-icon"><img src="images/global/default_user.png" ng-click="goto(2)"></div>
                    <div class="entry-name" ng-click="goToView('supermarket')"><span>超市</span></div>
                </div>
            </div>
            <div class="entry-view">
                <div class="scan">
                    <div class="entry-icon"><img src="images/global/default_user.png" ng-click="goto(3)"></div>
                    <div class="entry-name" ng-click="goToView('user_manager')"><span>用户</span></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span>茂玥科技  版权所有</span>
        </div>
    </div>
</div>


