<div class="e-footer">
    <div class="tab-bar">
        <div class="tab-item home col-xs-3" ng-class="{'current': navState==='/'}">
            <a ng-click="goState('/')">
                首页
            </a>
        </div>

        <div class="tab-item free-meal col-xs-3" ng-class="{'current': navState==='free_meal'}">
            <a ng-click="goState('free_meal')">
                自由餐
            </a>
        </div>
        <div class="tab-item shopping-cart col-xs-3" ng-class="{'current': navState==='my_cart'}">
            <a ng-click="goState('my_cart')">
                购物车
            </a>

            <div ng-show="shoppingCar.count>0"
                 ng-class="{'tips-s': shoppingCar.count<=99,'tips-l':shoppingCar.count>99}">
                <b>{{shoppingCar.count>99?'99+':shoppingCar.count}}</b>

            </div>
        </div>
        <div class="tab-item my-orders  col-xs-3" ng-class="{'current': navState==='my_orders'}">
            <a ng-click="goState('my_orders')">
                我的订单
            </a>
        </div>
    </div>

    <div class="foot-content">
        <div>
            <!--<p>服务邮箱：10983066@qq.com </p>-->

            <p>技术支持：茼蒿科技</p>
        </div>
    </div>

</div>
