<e-header></e-header>
<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="free-meal-page-view">
    <div class="goods-box">
        <div class='row goods-info'>
            <div class="row">
                <div class="col-xs-6 photo">
                    <div class="top">
                        <e-image image-key="pageData.goods.display_photos[0]"></e-image>
                        <!--<img err-src="images/global/default_goods.png"   ng-src="{{generatePhotoSrc(pageData.goods.display_photos[0])}}"/>-->
                    </div>
                    <div class="photo-nav">

                    </div>
                </div>
                <div class="col-xs-6 info">
                    <div class="goods-name">
                        <span>{{pageData.goods.name}}</span>
                    </div>
                    <div class="base">
                        <div class="row">
                            <div class="col-xs-2 normal"><span>参考价格:</span></div>
                            <div class="col-xs-3 normal goods-price right">
                                <span>{{pageData.goods.price === -1 ?  '待定' :'￥' + pageData.goods.price}}</span>
                            </div>
                        </div>
                        <div class="row" ng-show="false">
                            <div class="col-xs-2 normal"><span>数量:</span></div>
                            <div class="col-xs-10 normal right">
                                <div class="count-box">
                                    <div class="left" ng-click="minusNumber()">
                                        <span>-</span>
                                    </div>
                                    <div class="middle">
                                        <input ng-model="pageData.count"
                                               zz-validation zz-validation-type="number"
                                                >
                                    </div>
                                    <div class="right" ng-click="addNumber()">
                                        <span>+</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-car-button">
                        <div><label>输入金额</label><input id="priceInput" ng-keyup="priceInputKeyup($event)" class="input-box" ng-model="pageData.price"/></div>
                        <div><label>输入卡号/证件号</label><input id="cardInput" class="input-box" ng-model="pageData.card_number"
                                                           ng-keyup="cardInputKeyup($event)"/></div>
                        <input class="buy-now" type="button" value="立即购买" ng-click="pay()"/>
                        <!--<input class="" type="button" value="扫码" ng-click="scan()"/>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="good-detail">
            <div class="description-text">
                <p class="title">图文详情</p>
                <pre class="content">
{{pageData.goods.description}}
                </pre>

            </div>
            <div class="description-photo">
                <img err-src="images/global/default_goods.png" ng-repeat="photoKey in pageData.goods.description_photos"
                     ng-src="{{generatePhotoSrc(photoKey)}}"/>
            </div>
        </div>
    </div>

</div>
<div class="mask" ng-show="alertMessage.show">
    <div class="zz-alert full-window">
        <div class="zz-alert-title"><span>消息提示</span><strong class="close" ng-keyup="myKeyup($event)" ng-click="closeAlertMessage()"></strong></div>
        <div class="zz-alert-content" style="font-size:18px;padding:20px 20px 0px 20px;">
            <p class="red" ng-if="!alertMessage.content2 && !alertMessage.content3">{{alertMessage.content}}</p>
            <p ng-if="alertMessage.content2 && alertMessage.content3">原价：<strong>{{alertMessage.content}}</strong>元</p>
            <p ng-if="alertMessage.content2 && alertMessage.content3">实付：<strong>{{alertMessage.content2}}</strong>元</p>
            <p ng-if="alertMessage.content2 && alertMessage.content3">卡内余额：<strong>{{alertMessage.content3}}</strong>元</p></div>
        <!--<div class="zz-alert-handle">-->
            <!--<input type="submit" ng-keyup="myKeyup($event)" class="zz-btn-primary zz-alert-btn e-btn" ng-click="closeAlertMessage()" value="确定"></div>-->
        <!--</div>-->
    </div>
</div>

<e-footer></e-footer>

