<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="goods-detail-page-view">

    <div class="goods-box">
        <div class='row goods-info'>
            <div class="row">
                <div class="col-xs-6 photo">
                    <div class="top">
                        <img src="temp/goods1.png"/>
                    </div>
                    <div class="photo-nav">

                    </div>
                </div>
                <div class="col-xs-6 info">
                    <div class="goods-name">
                        <span>呱呱叫干锅主题餐厅</span>
                    </div>
                    <div class="base">
                        <!--<div class="row promotions" ng-show="goodInfo.promotions">-->
                            <!--<div class="col-20 normal "><span>促销:</span></div>-->
                            <!--<div class="col-80 normal right">-->
                                <!--<span>{{goodInfo.promotions}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row origin">-->
                            <!--<div class="col-20 normal "><span>来源:</span></div>-->
                            <!--<div class="col-80 normal right">-->
                                <!--<span>{{goodInfo.source}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-xs-2 normal"><span>价格:</span></div>
                            <div class="col-xs-3 normal goods-price right">
                                <span>￥12</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 normal"><span>数量:</span></div>
                            <div class="col-xs-10 normal right">
                                <div class="count-box">
                                    <div class="left">
                                        <span>-</span>
                                    </div>
                                    <div class="middle">
                                        <input ng-model="pageData.goods.count"
                                               zz-validation zz-validation-type="number"
                                                >
                                    </div>
                                    <div class="right">
                                        <span>+</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-car-button">
                        <input class="add" type="button" value="加入购物车"/>
                        <input class="buy-now" type="button" value="立即购买" ng-click="goToView('orderDetail')"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="good-detail">
            <div class="description-text">
                <p class="title">图文详情</p>
                <pre class="content">
品牌: 超能
是否含磷: 不含磷
适用对象: 棉麻织物 洗衣粉
分类: 普通型
净含量: 1500g(含)-2000g(含)
型号: 洗衣粉去渍365倍净焕彩600g
                </pre>

            </div>
            <div class="description-photo">
                <img src="temp/goods2.png"/>
                <img src="temp/goods1.png"/>
            </div>
        </div>
    </div>

</div>
<!--<div><button ng-click="goToView('goodsCart')">购物车</button></div>-->
<!--<div><button ng-click="goToView('orderDetail')">订单填写</button></div>-->
