
<e-header></e-header>
<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="goods-detail-page-view">

    <div class="goods-box">
        <div class='row goods-info'>
            <div class="row">
                <div class="col-xs-6 photo">
                    <div class="top">
                        <img err-src="images/global/default_goods.png"   ng-src="{{generatePhotoSrc(pageData.goods.display_photos[0])}}"/>
                    </div>
                    <div class="photo-nav">

                    </div>
                </div>
                <div class="col-xs-6 info">
                    <div class="goods-name">
                        <span>{{pageData.goods.name}}</span>
                    </div>
                    <div class="base">
                        <div class="row">
                            <div class="col-xs-2 normal"><span>价格:</span></div>
                            <div class="col-xs-3 normal goods-price right">
                                <span>{{pageData.goods.price === -1 ?  '待定' :'￥' + pageData.goods.price}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 normal"><span>数量:</span></div>
                            <div class="col-xs-10 normal right">
                                <div class="count-box">
                                    <div class="left" ng-click="minusNumber()">
                                        <span>-</span>
                                    </div>
                                    <div class="middle">
                                        <input ng-model="pageData.count"
                                               zz-validation zz-validation-type="number"
                                                >
                                    </div>
                                    <div class="right" ng-click="addNumber()">
                                        <span>+</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-car-button">
                        <input class="add" type="button" value="加入购物车" ng-click="addToCart()"/>
                        <input class="buy-now" type="button" value="立即购买" ng-click="goToView('orderDetail')"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="good-detail">
            <div class="description-text">
                <p class="title">图文详情</p>
                <pre class="content">
{{pageData.goods.description}}
                </pre>

            </div>
            <div class="description-photo">
                <img err-src="images/global/default_goods.png"   ng-repeat="photoKey in pageData.goods.description_photos" ng-src="{{generatePhotoSrc(photoKey)}}"/>
            </div>
        </div>
    </div>

</div>

<e-footer></e-footer>
