
<e-header></e-header>
<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="home-page-view">
    <div class="goods-list">
        <div class="goods-item" ng-click="goToView('goodsDetail', {goods_id: goods._id}, $event)" ng-repeat="goods in pageData.goodsList">
            <div class="photo-area">
                <e-image image-key="goods.display_photos[0]"></e-image>
                <!--<div class="photo">-->
                    <!--<img err-src="images/global/default_goods.png"  ng-src={{generatePhotoSrc(goods)}}>-->
                <!--</div>-->
            </div>
            <div class="desc">
                <div class="wrap">
                    <div class="description">
                        {{goods.name}}
                    </div>
                    <div class="price">
                        <span>{{goods.price === -1 ? '待定': ('¥' + goods.price)}}</span>
                    </div>
                    <div class="handle">
                        <div class="add" ng-click="addToCart(goods, $event)">加入购物车</div>
                        <div class="buy-now" ng-click="buyNow(goods, $event)">立即购买</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-load-more" ng-show="pageData.pagination.totalCount > pageData.pagination.limit">
        <div class="load-area">
            <span class="click-button" ng-show="pageData.pagination.totalCount > pageData.pagination.skipCount" ng-click="loadMore()">点击加载更多</span>
            <span class="load-result" ng-show="pageData.pagination.totalCount <= pageData.pagination.skipCount">已全部加载</span>
        </div>
    </div>
</div>

<e-footer></e-footer>
