
<e-header></e-header>
<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="my-cart-page-view">
    <div class="info-title"><span>购物车</span></div>
    <div class="row header">
        <div class="col-xs-6"><span>商品</span></div>
        <div class="col-xs-1"><span>单价</span></div>
        <div class="col-xs-3"><span>数量</span></div>
        <div class="col-xs-1"><span>总价</span></div>
        <div class="col-xs-1"><span>操作</span></div>
    </div>
    <div class="goods-list">
        <div class="row goods-item" ng-repeat="goods in pageData.cart.cart_goods">
            <div class="col-xs-6 goods-info row"
                 ng-click="goToView('orderDetail',$event)">
                <div class="col-xs-6 photo">
                    <img err-src="images/global/default_goods.png"   ng-src="{{generatePhotoSrc(goods.display_photos[0])}}"/>
                </div>
                <div class="col-xs-6 info">
                    <div class="goods-name">{{goods.name}}</div>
                    <!--<div class="goods-name">{{goods.sku.display_name}}</div>-->
                </div>
            </div>
            <div class="col-xs-1"><span>{{goods.price}}</span></div>
            <div class="col-xs-3 goods-count-box">
                <div class="goods-count row">
                    <div class="col-xs-1 left">
                        <input type="button" ng-click="minusNumber(goods)" value="-"/>
                    </div>
                    <div class="col-xs-3 middle">
                        <input ng-model="goods.count" ng-change="numberChanged(goods)"
                                >
                    </div>
                    <div class="col-xs-1 right">
                        <input type="button" ng-click="addNumber(goods)" value="+"/>
                    </div>
                </div>
            </div>

            <button class="app-delete">删除</button>
            <div class="col-xs-1"><span>{{goods.price * goods.count}}</span></div>
            <div class="col-xs-1">
                    <span>
                        <input type="button" ng-click="deleteGoodsFormCart(goods)" value="删除"/>
                    </span>
            </div>
        </div>

    </div>
    <div class="car-total">
        <span>合计:</span>
        <span class="price">￥{{pageData.cart.total_price}}</span>
        <input type="button" class="pay" ng-click="goToOrderDetail()" value="结算"/>
    </div>
</div>
<div class="car-footer row">
    <p class="total-price col-xs-6">合计： <span class="count">￥{{pageData.cart.total_price}}</span></p>

    <p class="pay col-xs-6" ng-click="goToOrderDetail()">结算</p>
</div>

<e-footer></e-footer>
