
<e-header></e-header>
<e-head-nav config="pageData.headConfig"></e-head-nav>
<div class="my-orders-page-view">
    <div class="info-title">
        <span>我的订单</span>
    </div>

    <div class="order-info" ng-repeat="order in pageData.orders">
        <div class="discount-icon" ng-show="order.has_discount">折扣</div>
        <div class="row top">
            <div class="col-xs-8 left">
                <span>订单号: {{order.order_number}}</span>
            </div>
            <div class="col-xs-4 right">
                <span class="money" ng-show="order.paid">实付:<strong>{{order.actual_amount}}</strong>元</span>
                <span class="status">{{translateOrderStatus(order.status)}}</span>
                <span class="time"> {{order.create_time | date:'yy-MM-dd HH:mm:ss'}}</span>
            </div>
        </div>
        <div class="row order"  ng-repeat="goods in order.goods_orders">
            <div class="col-xs-8 goods-items">
                <div class="row goods-item"
                     ng-click="goToOrderDetail(order)">
                    <div class="col-xs-3 photo">
                        <img err-src="images/global/default_goods.png" ng-src="{{generatePhotoSrc(goods)}}"/>
                    </div>
                    <div class="col-xs-4 goods-des">
                        <div class="center-box">
                            <p>{{goods.name}}</p>
                            <p class="min-size-show">￥{{goods.price}}</p>
                            <p class="min-size-show">x{{goods.count}}</p>
                        </div>
                    </div>
                    <div class="col-xs-2 goods-price">
                        <div class="center-box">
                            <span>￥{{goods.price}}</span>
                        </div>
                    </div>
                    <div class="col-xs-1 count">
                        <div class="center-box">
                            <span>x{{goods.count}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 price">
                <div class="center-box">
                    <span>￥{{goods.price * goods.count}}</span>
                </div>

            </div>
            <div class="col-xs-2 status">
                <div class="center-box state">
                    <span>{{translateGoodsStatus(goods.status)}}</span>
                </div>
            </div>
        </div>
        <div class="sum">
            <span >共计{{order.goods_orders.length}}件商品</span>
            <span ng-show="!order.paid">合计：</span>
            <span ng-show="!order.paid" class="large">￥{{order.total_price}}</span>

            <span ng-show="order.paid" style="margin-right: 10px;">合计:￥{{order.total_price}}</span>
            <span ng-show="order.paid">实付：</span>
            <span ng-show="order.paid" class="large">￥{{order.actual_amount}}</span>
        </div>
    </div>
    <div class="e-load-more" ng-show="pageData.pagination.totalCount > pageData.pagination.limit">
        <div class="load-area">
            <span class="click-button" ng-show="pageData.pagination.totalCount > pageData.pagination.skipCount" ng-click="loadMore()">点击加载更多</span>
            <span class="load-result" ng-show="pageData.pagination.totalCount <= pageData.pagination.skipCount">已全部加载</span>
        </div>
    </div>
</div>

<e-footer></e-footer>
