<div class="sign-in-page-view">
    <div class="sign-in-bg">

        <div class="wrapper">
            <div class="sign-in-header">
                <div class="logo" ng-click="goToHome()"><img src="images/global/logo-white.png"/></div>
                <div class="logo-title"><span>瑞金医院古北分院</span></div>
            </div>
            <div class="sign-in-area">
                <form class="sign-in-container">
                    <div class="container-title">
                        <span>个人用户登录</span>
                    </div>
                    <div class="sign-in-data">
                        <div class="input-box"><img src="images/sign_in/username.png"/><input type="text" ng-model="pageData.username" placeholder="手机号"/></div>
                        <div class="input-tip">
                            <p>注：个人用户首次登录，输入手机号点击登录即可；之后登录输入同样的手机号点击登录即可，不需要输入密码</p>
                        </div>
                    </div>
                    <div class="sign-in-handle">
                        <button type="submit" class="sign-in-button" ng-click="signIn()">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="copy-right">个人登录｜<a ng-click="goToWorkers()">工作人员登录</a>｜<a ng-click="goToManager()">后台管理员登录</a></div>
    </div>
</div>
