<z-header></z-header>
<div class="ee-card-history-page-view">
    <div class="ee-user-manager">
        <div class="ee-banner">
            <div class="ee-wrapper">
                <div class="row ee-title">
                    <div class="col-xs-6">
                        <span class="ee-banner-back" ng-click="goBack()">< </span>
                        <span class="ee-banner-content">饭卡历史记录查询</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-bar">
            <div class="row">

                <div class="filter-item col-xs-3">
                    <input type="text" date-range-picker class="e-date-picker info-input date-picker dropdown"
                           ng-model="pageShow.createTimeRange"
                           min="pageShow.createTimeMinTime"
                           options="pageShow.dateOptions"

                           placeholder="点击选择时间"
                            />
                </div>
                <div class="filter-item col-xs-3">
                    <z-dropdown z-dropdown-model="pageData.action"
                                z-dropdown-options="pageData.actions"
                                z-dropdown-label="请选择类型"
                            >
                    </z-dropdown>
                </div>
                <div class="filter-item col-xs-3">
                    <input class="search-box" placeholder="请输入卡号／证件号" type="text" ng-model="pageData.keyword" />
                </div>
                <div class="filter-item col-xs-3">
                    <div class="search" ng-click="searchKey()">筛选</div>
                </div>
            </div>
        </div>
        <div class="statistics-panel">
            <div class="row" ng-show="pageShow.createTimeRange.startDate">
                <div class="statistic center">
                    <time>{{(pageShow.createTimeRange.startDate).format('YY年MM月DD日')}}~{{(pageShow.createTimeRange.endDate).format('YY年MM月DD日')}}</time>
                </div>
            </div>
            <div class="row">
                <div class="statistic"><label>充值总金额：</label><strong>{{pageData.statistics.total_recharge_amount || 0}}</strong> 元</div>
                <div class="statistic"><label>退卡总金额：</label><strong>{{pageData.statistics.total_close_amount || 0}}</strong> 元</div>
                <div class="statistic"><label>删除卡总余额：</label><strong>{{pageData.statistics.total_delete_amount || 0}}</strong> 元</div>
            </div>
        </div>

        <div class="ee-user-manager-body">
            <div class="ee-wrapper">
                <div class="ee-table-list">
                    <div class="content">
                        <div class="row list-header">
                            <div class="col-xs-3">
                                <span>证件号</span>
                            </div>
                            <div class="col-xs-3">
                                <span>旧卡</span>
                            </div>
                            <div class="col-xs-1">
                                <span>描述</span>
                            </div>
                            <div class="col-xs-1">
                                <span>金额更换</span>
                            </div>
                            <div class="col-xs-3">
                                <span>新卡</span>
                            </div>
                            <div class="col-xs-1">
                                <span>时间</span>
                            </div>
                        </div>
                        <div class="row list-info" ng-repeat="cardHistory in pageData.cardHistories">
                            <div class="col-xs-3">
                                <span>{{cardHistory.id_number}}</span>
                            </div>
                            <div class="col-xs-3">
                                <span>{{cardHistory.card_number}}</span>
                            </div>
                            <div class="col-xs-1">
                                <span>{{cardHistory.description}}</span>
                            </div>
                            <div class="col-xs-1">
                                <span>{{cardHistory.amount}}-{{cardHistory.new_amount}}</span>
                            </div>
                            <div class="col-xs-3" title="{{cardHistory.new_card_number?cardHistory.new_card_number : '--'}}">
                                <span>{{cardHistory.new_card_number?cardHistory.new_card_number : '--'}}</span>
                            </div>
                            <div class="col-xs-1">
                                <span>{{cardHistory.create_time | date: 'yy-MM-dd HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                    <z-pagination config="pageData.pagination"></z-pagination>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="z-header-button import">
                <span>批量添加</span>
                <input id="card-filename" class="filename" type="file"
                       onchange="angular.element(this).scope().onFileSelect(this)">
            </div>
            <button class=" col-lg-2 col-md-4" ng--click="batchImportCards()" >导入</button>
        </div>
    </div>
</div>
<div class="ee-footer">
    <span>技术支持：茼蒿科技</span>
</div>
