<div class="zz-goods-list">
    <div class=" row zz-header">
        <div class="wrap">
            <div class="col-xs-12 title">
                <div class="title">我的商品</div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="wrap">
            <div class="title">我的商品</div>
            <div class="row filter">
                <div class="col-xs-3 filter-item">
                    <div class="row info">
                        <div class="col-xs-3 left"><span>品类</span></div>
                        <div class="col-xs-9 right">
                            <select ng-model="initPage.search.category">
                                <option value="">不限</option>
                                <option ng-repeat="ct in initPage.goodsCategories" value="{{ct._id}}">
                                    {{ct.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 filter-item">
                    <div class="row info">
                        <div class="col-xs-3 left"><span>商品名</span></div>
                        <div class="col-xs-9 right">
                            <input type="text" ng-model="initPage.search.goodsName"/>
                        </div>
                    </div>
                </div>
                <div class="search-layout">
                    <a class="search" ng-click="onSearchClick();"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="goos-list">
        <div class="row title">
            <div class="col-xs-2 info">品类</div>
            <div class="col-xs-7 info">商品名称</div>
            <div class="col-xs-3 info">操作</div>
        </div>
        <div class="row list" ng-repeat="goods in initPage.goods_list">
            <div class="col-xs-2 info">{{getCategoryName(goods.categories)}}</div>
            <div class="col-xs-7 info">{{goods.name}}</div>
            <div class="col-xs-3 info">
                <input type="button" value="编辑" class="edit" ng-click="onEditGoods(goods)"/>
                <input type="button" value="删除" class="edit" ng-click="onDeleteGoods(goods._id)"/>
            </div>
        </div>
        <div class="list-footer">
            <zz-pagination config="initPage.pagination"></zz-pagination>
        </div>
    </div>
    <div class="footer">
        <div class="row wrap">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 add" ng-show="false">
                <input type="button" value="添加商品" ng-click="addGoods()"/>
            </div>
        </div>
    </div>
</div>
