<div class="goods-add-page-view">
    <h1>添加商品</h1>
    <div  class="row ee-photo-box">
        <div class="photo" ng-repeat="(k,v) in pageData.photos">
            <img ng-src="{{v.img}}"/>
            <div class="closed" ng-click="abort(k,pageData.photos)"></div>
            <ol ng-show="v.progress && v.progress.p!==100">
                <li>
                    正在上传......{{v.progress.p}}%
                </li>
            </ol>
        </div>
        <div class="photo_select"
             e-file-select="onFileSelect($files,pageData.photos)"
             data-multiple="true"
             title="选择展示图片"
                >
            <p>点击添加照片</p>
        </div>
    </div>
</div>

