<z-header></z-header>
<div class="ee-goods-manager" ng-class="pageConfig.type">
    <div class="ee-banner">
        <div class="ee-wrapper">
            <div class="row ee-title">
                <div class="col-xs-6">
                    <span class="ee-banner-back" ng-click="goBack()">< </span>
                    <span class="ee-banner-content">{{pageConfig.title}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="ee-goods-manager-body">
        <div class="ee-wrapper">
            <div class="ee-tag-panel">
                <ul class="ee-tag-header">
                    <li ng-class="{'current': pageConfig.currentTag === 'goods'}" ng-click="changeTag('goods')">{{pageConfig.type === 'restaurant' ? '菜品': '商品'}}管理</li>
                    <li ng-class="{'current': pageConfig.currentTag === 'orders'}" ng-click="changeTag('orders')">订单管理</li>
                    <li class="last" ng-class="{'current': pageConfig.currentTag === 'statistics'}" ng-click="changeTag('statistics')">统计图</li>
                </ul>
                <div class="ee-tag-body">
                    <div class="ee-tag-view" ng-class="pageConfig.currentTag === 'orders' || pageConfig.currentTag === 'statistics' ? 'move-left' : ''">
                        <div class="ee-search-bar row">
                            <div class="left-panel col-xs-6"></div>
                            <div class="right-panel col-xs-6">
                                <div class="handle-button" ng-click="showEditGoodsPanel()">
                                    <span>添加新菜品</span>
                                </div>
                            </div>
                        </div>
                        <div class="ee-table-list">
                            <div class="content">
                                <div class="row list-header">
                                    <div class="col-xs-3">
                                        <span>菜名</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>售价</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>状态</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>类型</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>操作</span>
                                    </div>
                                </div>
                                <div class="row list-info" ng-repeat="goods in pageConfig.goodsPanel.goodsList">
                                    <div class="col-xs-3">
                                        <span>{{goods.name}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{goods.price}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{goods.statusObj.text}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <!--<span class="type">-->
                                            <!--{{goods.discount === 1 ? '无': ((goods.discount * 10) + '折')}}-->
                                        <!--</span>-->
                                        <span class="type">
                                        {{goods.type === 'free_meal' ? '工作餐': '普通'}}
                                        </span>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="handle edit"  ng-click="showEditGoodsPanel(goods)">
                                            <img class="gif" ng-src="images/global/edit.gif"/>
                                            <img class="normal" ng-src="images/global/edit.png"/>
                                        </div>
                                        <div class="handle stop" ng-click="deleteGoods(goods)">
                                            <img class="gif" ng-src="images/global/stop.gif"/>
                                            <img class="normal" ng-src="images/global/stop.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <z-pagination config="pageConfig.goodsPanel.pagination"></z-pagination>
                        </div>
                    </div>
                    <div class="ee-tag-view" ng-class="pageConfig.currentTag === 'statistics' ? 'move-left': ''">
                       <div style="width: 200px; margin: 200px auto;">
                           <p>筛选订单，更改订单状态等功能</p>
                           <span>正在努力开发中。。。</span>
                       </div>
                    </div>
                    <div class="ee-tag-view ee-statistic-panel">
                        <div class="ee-statistic-summary">
                            <div>

                                <label>今日营业额：</label>
                                <span class="amount today">{{pageConfig.statisticPanel.today_amount}}</span>元
                            </div>
                            <div>

                                <label>总营业额：</label>
                                <span class="amount">{{pageConfig.statisticPanel.total_amount}}</span>元
                            </div>
                        </div>
                        <div style="width: 200px; margin: 200px auto;">

                            <p>筛选查看营业额等功能</p>
                            <span>正在努力开发中。。。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ee-pop-mask" ng-show="pageConfig.panel.showMask">
        <div class="ee-pop-wrapper">
            <div class="ee-pop-panel" ng-show="pageConfig.panel.showGoodsEdit">
                <div class="ee-pop-header">
                    <div class="ee-pop-title">
                        <span>{{pageConfig.goodsPanel.newCreate ? '新增':'修改'}}菜品</span>
                        <div class="close" ng-click="closeEditGoodsPanel()"></div>
                    </div>
                </div>
                <div class="ee-pop-body">
                    <div class="ee-goods-detail-area">
                        <div class="goods-type">
                            <p class="area-title">商品类型</p>
                            <div class="goods-type-item">
                                <label>普通</label>
                                <input ng-model="pageConfig.goodsPanel.currentEditGoods.type" ng-checked="pageConfig.goodsPanel.currentEditGoods.type === 'normal'" name="goodsType" value="normal"  type="radio"/>
                            </div>
                            <div class="goods-type-item">
                                <label>工作餐</label>
                                <input ng-model="pageConfig.goodsPanel.currentEditGoods.type" ng-checked="pageConfig.goodsPanel.currentEditGoods.type === 'free_meal'" name="goodsType" value="free_meal"   type="radio"/>
                            </div>
                        </div>
                        <div class="goods-display-photo-area">
                            <p class="area-title">照片显示</p>
                            <div class="row ee-photo-box">
                                <div class="photo" ng-repeat="(k,v) in pageConfig.goodsPanel.currentEditGoods.display_photos">
                                    <div class="closed" ng-click="abort(k,pageConfig.goodsPanel.currentEditGoods.display_photos)"></div>
                                    <img ng-src="{{v.img}}"/>
                                    <ol ng-show="v.progress && v.progress.p!==100">
                                        <li>
                                            正在上传......{{v.progress.p}}%
                                        </li>
                                    </ol>
                                </div>
                                <div class="photo_select"
                                     e-file-select="onFileSelect($files,pageConfig.goodsPanel.currentEditGoods.display_photos)"
                                     data-multiple="true"
                                     title="添加图片"
                                        >
                                    <p>点击添加图片</p>
                                </div>
                            </div>
                        </div>
                        <div class="goods-detail">
                            <div class="goods-name">
                                <input ng-model="pageConfig.goodsPanel.currentEditGoods.name" placeholder="请输入商品名"/>
                            </div>
                            <div class="goods-status-price">
                                <div class="status">
                                    <z-dropdown z-dropdown-model="pageConfig.goodsPanel.currentEditGoods.statusObj"
                                                z-dropdown-options="pageConfig.goodsPanel.goodsStatuses"
                                                z-dropdown-label="请选择状态"
                                            >
                                    </z-dropdown>
                                </div>

                                <div class="price">
                                    <input ng-model="pageConfig.goodsPanel.currentEditGoods.price"/>元
                                </div>
                            </div>
                            <div class="goods-description">
                                <textarea placeholder="请输入商品详情" ng-model="pageConfig.goodsPanel.currentEditGoods.description"></textarea>
                            </div>
                        </div>
                        <div class="goods-display-photo-area">
                            <p class="area-title">描述照片显示</p>
                            <div  class="row ee-photo-box">
                                <div class="photo" ng-repeat="(k,v) in pageConfig.goodsPanel.currentEditGoods.description_photos">
                                    <img ng-src="{{v.img}}"/>

                                    <div class="closed" ng-click="abort(k,pageConfig.goodsPanel.currentEditGoods.description_photos)"></div>
                                    <ol ng-show="v.progress && v.progress.p!==100">
                                        <li>
                                            上传中......{{v.progress.p}}%
                                        </li>
                                    </ol>
                                </div>
                                <div class="photo_select"
                                     e-file-select="onFileSelect($files,pageConfig.goodsPanel.currentEditGoods.description_photos)"
                                     data-multiple="true"
                                     title="选择图片"
                                        >
                                    <p>点击添加图片</p>
                                </div>
                            </div>
                        </div>
                        <div class="goods-handle-area">
                            <button class="save" ng-click="saveGoods()">保存</button>
                            <button class="reset" ng-show="pageConfig.goodsPanel.newCreate" ng-click="resetGoods()">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ee-footer">
    <span>技术支持：茼蒿科技</span>
</div>
