.ee-user-manager {
  height: 100%;

  .ee-banner {
    background: @background-normal-color;
  }

  .ee-user-manager-body {
    margin-top: 50px;
    height: 100%;

    .ee-tag-panel .ee-tag-header li.current {
      color: @background-normal-color;
    }
  }
}
