<div class="ee-head-nav-bar">
    <div class="header">
        <div class="nav-wrap">
            <div class="row row-center">
                <div class="back" ng-show="config.backShow">
                    <button class="page-back" ng-click="goBack()"></button>
                </div>
                <div class="nav-title col-xs-12 col-center">
                    <span>{{config.title}}</span>
                </div>
                <div class="user">
                    <span ng-if="config.clientInfo">{{config.clientInfo ? config.clientInfo.nickname: ''}}</span>
                    <a ng-if="config.clientInfo" class="change-account" ng-click="changeAccount()">退出</a>
                    <a ng-if="!config.clientInfo" class="sign-in" ng-click="signIn()">登录</a>
                </div>
            </div>
        </div>
    </div>
</div>

